<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradingAnalytics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <TradingAnalytics.Properties.Settings>
            <setting name="ZookeeperUrl" serializeAs="String">
                <value>ZookeeperHost:2181</value>
            </setting>
            <setting name="KafkaUrl" serializeAs="String">
                <value>KafkaHost:9020</value>
            </setting>
        </TradingAnalytics.Properties.Settings>
    </applicationSettings>
</configuration>